body{
    margin: 10px;
}
table,th,td{
    font-size: 1rem;
    border: 1px solid black ;
    padding: 1rem;
}
/* place items in center  */
.container{
    display: grid;
    place-items: center;
}
h1{
    text-align: center;
}
#getDataBtn{
    font-size: 3rem;
}